.enjoy {
  position: relative;
  border-radius: 40px;
  margin-top: 20px;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  background: url('../assets/img/headerBG.png') center (center/cover) no-repeat;
  &__content {
    width: 530px;
  }
  &__title {
    margin: 0;
    color: #e1d4c9;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    span {
      color: #b0907a;
      font-style: italic;
    }
  }
  &__text {
    margin-top: 40px;
    color: #e1d4c9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  &__btn {
    text-decoration: none;
    margin-top: 40px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    &:hover {
      background: #e1d4c9;
      &::after {
        position: absolute;
        content: '';
        position: absolute;
        top: 78%;
        left: 18%;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        background-image: url('../assets/img/coffee-cup.svg');
        background-size: cover;
      }
    }
  }
}
