.about {
  padding-bottom: 100px;
  &__text {
    color: #403f3d;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    span {
      color: #b0907a;
      font-style: italic;
    }
  }
  &__wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 660px);
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(430px, 590px);
    gap: 40px;
    grid-template-areas:
      'one three'
      'one four'
      'two four';
  }

  &__img-1 {
    grid-area: one;
  }
  &__img-2 {
    grid-area: two;
  }
  &__img-3 {
    grid-area: three;
  }
  &__img-4 {
    grid-area: four;
  }
}
