* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Inter', sans-serif;
  background-color: #e1d4c9; }

.container {
  width: 1360px;
  margin: 0 auto; }

.main {
  padding-bottom: 88px; }

.header {
  padding-top: 20px; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__menu__img {
      width: 100px;
      height: 60px; }
      .header__menu__img img {
        width: 100%;
        height: 100%; }
    .header__menu__nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      list-style-type: none; }
      .header__menu__nav ul li {
        margin-right: 40px; }
        .header__menu__nav ul li:last-child {
          margin-right: 0; }
        .header__menu__nav ul li a {
          color: #403f3d;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          text-decoration: none; }
    .header__menu__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header__menu__menu:hover {
        text-decoration: underline; }
      .header__menu__menu__text {
        color: #403f3d;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        text-decoration: none; }
      .header__menu__menu__img {
        width: 20px;
        height: 20px;
        margin-bottom: 8px;
        margin-left: 5px; }
        .header__menu__menu__img img {
          width: 100%;
          height: 100%; }

.enjoy {
  position: relative;
  border-radius: 40px;
  margin-top: 20px;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  background: url("../assets/img/headerBG.png") center center/cover no-repeat; }
  .enjoy__content {
    width: 530px; }
  .enjoy__title {
    margin: 0;
    color: #e1d4c9;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 600; }
    .enjoy__title span {
      color: #b0907a;
      font-style: italic; }
  .enjoy__text {
    margin-top: 40px;
    color: #e1d4c9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400; }
  .enjoy__link {
    text-decoration: none; }
  .enjoy__btn {
    margin-top: 40px; }
    .enjoy__btn:hover {
      background: #e1d4c9; }
      .enjoy__btn:hover::after {
        position: absolute;
        content: '';
        position: absolute;
        top: 78%;
        left: 18%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 20px;
        height: 20px;
        background-image: url("../assets/img/coffee-cup.svg");
        background-size: cover; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background: #e1d4c9;
  cursor: pointer; }

.coffe {
  position: relative;
  margin-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .coffe__title {
    color: #403f3d;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600; }
    .coffe__title span {
      color: #b0907a;
      font-style: italic; }
  .coffe__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px; }
    .coffe__img__img {
      width: 480px;
      height: 480px; }
      .coffe__img__img img {
        width: 100%;
        height: 100%; }
    .coffe__img__arrow1 {
      position: absolute;
      top: 48%;
      left: 0%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 60px;
      height: 60px;
      border-radius: 100px;
      border: 1px solid var(--border-dark, #665f55);
      cursor: pointer; }
      .coffe__img__arrow1:hover {
        background-color: var(--background-container, #665f55); }
    .coffe__img__arrow2 {
      position: absolute;
      top: 48%;
      right: 0%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 60px;
      height: 60px;
      border-radius: 100px;
      border: 1px solid var(--border-dark, #665f55);
      cursor: pointer; }
      .coffe__img__arrow2:hover {
        background-color: var(--background-container, #665f55); }
  .coffe__subtitle {
    margin-top: 20px;
    color: #403f3d;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600; }
  .coffe__text {
    width: 480px;
    margin-top: 16px;
    color: #403f3d;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; }
  .coffe__price {
    margin-top: 16px;
    color: #403f3d;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600; }
  .coffe__btns {
    margin-top: 40px; }
    .coffe__btns span {
      display: inline-block;
      margin-right: 12px;
      border-radius: 100px;
      background: #c1b6ad;
      width: 40px;
      height: 4px;
      cursor: pointer; }
      .coffe__btns span:first-child {
        background: #665f55; }
      .coffe__btns span:last-child {
        margin-right: 0; }
      .coffe__btns span:hover {
        background-color: var(--background-container, #665f55); }

.about {
  padding-bottom: 100px; }
  .about__text {
    color: #403f3d;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; }
    .about__text span {
      color: #b0907a;
      font-style: italic; }
  .about__wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 660px);
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(430px, 590px);
    gap: 40px;
    grid-template-areas: 'one three' 'one four' 'two four'; }
  .about__img-1 {
    grid-area: one; }
    .about__img-1 img {
      border-radius: 20px; }
  .about__img-2 {
    grid-area: two; }
    .about__img-2 img {
      border-radius: 20px; }
  .about__img-3 {
    grid-area: three; }
    .about__img-3 img {
      border-radius: 20px; }
  .about__img-4 {
    grid-area: four; }
    .about__img-4 img {
      border-radius: 20px; }

.mobile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.mobile__1 {
  width: 630px;
  margin-top: 130px; }
.mobile__title {
  color: var(--text-dark, #403f3d);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; }
  .mobile__title span {
    color: var(--text-accent, #b0907a);
    font-style: italic; }
.mobile__text {
  margin-top: 40px;
  color: var(--text-dark, #403f3d);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; }
.mobile__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px; }
  .mobile__btns__img {
    margin-left: 20px;
    width: 36px;
    height: 36px; }
    .mobile__btns__img img {
      width: 100%;
      height: 100%; }
  .mobile__btns__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    height: 64px;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665f55);
    cursor: pointer;
    background-color: #e1d4c9; }
    .mobile__btns__btn:first-child {
      margin-right: 20px; }
    .mobile__btns__btn:hover {
      background-color: var(--background-container, #665f55); }
    .mobile__btns__btn__content {
      margin-left: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: left; }
  .mobile__btns__text {
    color: var(--text-dark, #403f3d);
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600; }
  .mobile__btns__name {
    color: var(--text-dark, #403f3d);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; }

.footer {
  padding-bottom: 40px; }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 100px;
    height: 450px;
    border-radius: 40px;
    background: #665f55; }
    .footer__wrapper__1 {
      width: 530px; }
    .footer__wrapper__2 {
      padding: 32px 0;
      width: 530px;
      margin-left: 100px; }
  .footer__title {
    color: #e1d4c9;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; }
    .footer__title span {
      color: #b0907a;
      font-style: italic; }
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px; }
    .footer__link__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-right: 12px;
      width: 60px;
      height: 60px;
      border-radius: 100px;
      border: 1px solid #c1b6ad;
      cursor: pointer;
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
      .footer__link__item:last-child {
        margin-right: 0; }
      .footer__link__item:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  .footer__contacts {
    color: var(--text-light, #e1d4c9);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600; }
    .footer__contacts__ul {
      margin-top: 40px;
      list-style-type: none; }
      .footer__contacts__ul li {
        cursor: pointer;
        margin-bottom: 16px; }
        .footer__contacts__ul li:last-child {
          margin-bottom: 0; }
        .footer__contacts__ul li a {
          text-decoration: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        .footer__contacts__ul li span {
          margin-left: 8px;
          color: #e1d4c9;
          font-size: 16px;
          font-style: normal;
          font-weight: 600; }

.coffePage__title {
  margin: 0 auto;
  margin-top: 20px;
  width: 800px;
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; }
  .coffePage__title span {
    color: var(--text-accent, #b0907a);
    font-style: italic; }
.coffePage__btns {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .coffePage__btns__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 115px;
    height: 46px;
    border-radius: 100px;
    border: 1px solid var(--border-light, #c1b6ad);
    margin-right: 16px;
    cursor: pointer; }
    .coffePage__btns__btn:last-child {
      margin-right: 0; }
    .coffePage__btns__btn:first-child {
      background: var(--background-container, #665f55); }
    .coffePage__btns__btn:hover {
      background: var(--background-container, #665f55); }
    .coffePage__btns__btn__img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 30px;
      height: 30px;
      margin: 0 8px;
      border-radius: 100px;
      background: var(--background-body, #e1d4c9); }

.preview {
  margin-top: 40px; }
  .preview__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    grid-template-rows: repeat(2, 506px);
    grid-auto-rows: 506px;
    gap: 40px; }
  .preview__item {
    border-radius: 40px;
    border: 1px solid var(--border-light, #c1b6ad);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
    .preview__item:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    .preview__item__img {
      width: 310px;
      height: 310px; }
      .preview__item__img img {
        border-radius: 40px;
        width: 100%;
        height: 100%; }
    .preview__item__name {
      margin-top: 20px;
      margin-left: 20px;
      color: var(--text-dark, #403f3d);
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 600; }
    .preview__item__text {
      margin-left: 20px;
      margin-top: 12px;
      color: var(--text-dark, #403f3d);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; }
    .preview__item__price {
      margin-left: 20px;
      margin-top: 33px;
      color: var(--text-dark, #403f3d);
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 600; }

/*# sourceMappingURL=style.css.map */